<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag Icon.for_filename(part.file_filename), class: 'pull-right' %>
    <%= link_to part.file_filename, attachment_url(part, :file) %> (<%= part.file_content_type %> <%= number_to_human_size part.file_size %>)
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
    <% part.metadata.each do |k, v| %>
      <dt><%= k %></dt>
      <dd><%= v %></dd>
    <% end %>
    </dl>

    <small class="pull-right">
      Created at <%= l part.created_at, format: :short %>.
      <% if part.created_at != part.updated_at %>
        Last Updated <%= l part.updated_at, format: :short %>.
      <% end %>
      <% if part.user %>
        Contributed by <%= part.user.email %>.
      <% end %>
    </small>
  </div>
</div>