<div class="page-header">
  <h1><%= @deposit.title %></h1>
</div>

<small class="pull-right">
  Created at <%= l @deposit.created_at, format: :short %>.
  <% if @deposit.created_at != @deposit.updated_at %>
    Last Updated <%= l @deposit.updated_at, format: :short %>.
  <% end %>
  <% if @deposit.user %>
    Contributed by <%= @deposit.user.email %>.
  <% end %>
</small>

<p>
  <strong>Metadata:</strong>
  <dl class="dl-horizontal">
  <% @deposit.metadata.each do |k, v| %>
    <dt><%= k %></dt>
    <dd><%= v %></dd>
  <% end %>
  </dl>
</p>

<p>
  <strong>Parts:</strong>
  <%= render @deposit.parts %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
